{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block css %}

<style>
    
form .required .form-label:after {
  content:"*";
  color:red;
}

</style>
<link href=
'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>


{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="display-6">Update Profile</h1>
                    <p class="lead">Edit your personal information here.</p>
                </div>
                <article class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!-- <div>
                            {{ form|crispy }}
                        </div> -->
                        <div class="mb-3 required" >
                            <label for="exampleFirstName" class="form-label">First name</label>
                            <input type="text" name="first_name" value="{{form.first_name.value}}" class="form-control" id="exampleFirstName" required >
                        </div>
                        <div class="mb-3 required">
                            <label for="exampleLastName" class="form-label">Last name</label>
                            <input type="text" name="last_name" value="{{form.last_name.value}}" class="form-control" id="exampleLastName" required>
                        </div>
                        <div class="mb-3 required">
                            <label for="exampleBio" class="form-label">Bio</label>
                            <textarea name="bio" class="form-control" id="exampleBio" required>{{form.bio.value}}</textarea>
                        </div>
                        <div class="mb-3 required">
                            <label for="exampleDOB" class="form-label">Date of birth</label>
                            <input type="text" name="date_of_birth" value="{{form.date_of_birth.value | date:'m/d/Y'}}" class="form-control" id="exampleDOB" required>
                        </div>
                        <div class="mb-3 required">
                            <label for="exampleAddress" class="form-label">Address</label>
                            <input type="text" name="address" value="{{form.address.value}}" class="form-control" id="exampleAddress" required>
                        </div>
                        <div class="mb-3 required">
                            <label for="examplePhone" class="form-label">Contact Number</label>
                            <input type="tel" name="phone" value="{{form.phone.value}}" class="form-control" id="examplePhone" required>
                            <div class="valid-feedback">
                                {{form.errors}}
                            </div>
                        </div>
                        <div class="mb-3 required">
                            <label for="exampleGender" class="form-label" >Gender</label>
                            <select  name="gender" class="form-select" aria-label="Default select example" id="exampleGender" required>
                                {% for x,y in form.fields.gender.choices %}
                                    <option value="{{x}}" {% if form.gender.value == x %} selected {% endif %} >{{y}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 required">
                            <label for="exampleLookingFor" class="form-label">Looking for</label>
                            <select name="looking_for" class="form-select" aria-label="Default select example" id="exampleLookingFor" required>
                                {% for x,y in form.fields.looking_for.choices %}
                                    <option value="{{x}}" {% if form.looking_for.value == x %} selected {% endif %}>{{y}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <div id="formFile">
                                {{form.profile_picture | as_crispy_field}}
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary btn-lg"> Update </button>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
    $( function() {
      $( "#exampleDOB" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange:'-90:+0'
      });
    } );
</script>


{% endblock %}